@import "../../scss/mixins";
@import "../../scss/variables";

.panel {
  height: 90vh;
  width: 95vw;
  background: $bg-glass;
  border-radius: 2rem;
  overflow-x: hidden;
  overflow-y: scroll;

  @include md {
    width: 97vw;
    position: relative;
  }
}

main {
  // for test purpose
  @include flex(center, center, column);
  padding: 2rem 1rem 3rem;
}
