@keyframes hamburgerBubble {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes navDrop {
  from {
  }
  to {
    transform: translate(0);
  }
}

@keyframes anchorHover {
  from {
  }
  to {
    transform: translateX(0.5rem);
  }
}
